<div *ngFor="let item of data" class="title">
    <h4>{{item.title}}</h4>
    <div>
        <button *ngFor="let btn of item.action" (click)="testAction(btn.id)">{{btn.name}}</button>
    </div>
</div>
<div>
    <h4>有效的括号</h4>
    <div>
        <input type="text" [(ngModel)]="brackets">
        <button (click)="confirmBrackets()">确认</button>
        <span>{{bracketsResult}}</span>
        <p class="red">{{tip}}</p>
    </div>
</div>
<div>
    <h4>每日温度</h4>
    <div>
        <input type="text" [(ngModel)]="temperature">
        <button (click)="temperatureAction()">确认</button>
        <span>{{temperatureResult}}</span>
    </div>
</div>
<div>
    <h4>逆波兰表达式求值</h4>
    <div>
        <input type="text" [(ngModel)]="reversePolishNotation">
        <button (click)="count()">确认</button>
        <span>{{reversePolishNotationResult}}</span>
    </div>
</div>

